<html>
	<head>
		<title>Dig It </title>
	</head>
	<body>
		</br>
		</br>
		<p></p>
		</br></br>
		<center>
		<!-- h2 style="background-color:black; color: white; border: 30px; padding: 10px; margin: 10px; width: 100px">Dig</h2><h2 style="background-color:#3399FF; color: white; border: 30px; padding: 10px; margin: 10px; width: 100px">.It</h2 -->
		</center>
		<center>
		<table>
		
			<tr>
			<td><img src="/static/git_orig.png" width="300px"></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/twitter.png"></td>
			</tr>
	
		</table>	
		</center>		
			<p></p>	
		<center>
		<table>
			<tr>	
			<td><a href="/get_git"><h3 style="background-color: black; color:white; border:10px; padding: 10px; margin: 10px; width: 95px">Get Repos
</h3></a></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td>
			<td></td><td></td><td></td><td></td>
			<td><a href="/get_twitter"><h3 style="background-color: #3399FF; color:white; border: 10px; padding: 10px; margin: 10px; width:95px">Get Tweets</h3></a></td>
			</tr>
			
		</table>
		</center>
			
			<!--/tr -->
		<!-- /table -->
		
	</body>
</html>
